/*
 Author:         Oktawia Kata
 Author URI:     http://oktawiakata.com
 Version:        1.0
*/


// Bourbon
@import 'bourbon/bourbon';

// Neat
@import 'neat/neat';

//Global variables, layout and normalize
@import 'global/variables';
@import 'global/normalize';
@import 'global/layout';
@import 'global/mixins';

//Partials organisms
@import '../organisms/header/style';
@import '../organisms/header/shopping-bar/style';
@import '../organisms/footer/style';

//Partials index
@import '../index/section-home/style';
@import '../index/section-statistics/style';
@import '../index/section-bestsellers/style';
@import '../index/section-about/style';

//Partials main pages
@import '../chi-siamo/style';
@import '../contatti/style';
@import '../vini/style';

//Partials vini
@import '../vini/product-sheet/style';

//Partials carrello
@import '../carrello/il-mio-carrello/style';
@import '../carrello/identificazione/style';
@import '../carrello/pagamento/style';
@import '../carrello/conferma/style';

//Partials chi-siamo
@import '../chi-siamo/i-nostri-vini/style';
@import '../chi-siamo/il-territorio/style';
@import '../chi-siamo/la-famiglia/style';
@import '../chi-siamo/premi-e-riconoscimenti/style';

//Partials legal-information
@import '../legal-information/condizioni-generali-di-vendita/style';
@import '../legal-information/cookies/style';
@import '../legal-information/note-legali/style';
@import '../legal-information/tariffe-spedizioni/style';

body {
  font-family: $secondary-font;
  font-size: $default-font-size;
  color: $primary-font-color;
  ::selection {
    background: $default-highlight-color;
  }
}

.fullwidth-image {
  width: 100%;
  height: auto;
}

input.go-back {
  @include button;
  display: inline-block;
  position: relative;
  width: 100%;
  color: $primary-font-color;
  font-size: $default-paragraph-size;
  z-index: $overlay-zindex;
}
input.quantity {
  display: block;
  margin-top: $default-space-lg;
  padding-left: $default-space-md;
  border: 1px solid $default-mediumgray;
}
