// Column container
.container {
    @include outer-container($default-max-width);
    @include pad($default-space-xxl);
    box-sizing: border-box;
}

// half width column = 6 of 12
.half {
    @include media(max-width $tablet-portrait) {
        @include span-columns(12);
    }
    @include media(max-width 500px) {
        margin-top: $default-space-lg;
    }
    @include span-columns(6);
}

// wide column = 8 of 12
.wide {
    @include media(max-width $tablet-portrait) {
        @include span-columns(12);
    }

    @include media(max-width 500px) {
        margin-top: $default-space-lg;
    }
    @include span-columns(8);
}

//narrow column = 4 of 12
.narrow {
    @include media(max-width $phone-landscape) {
        @include span-columns(12);
    }

    @include media(max-width 500px) {
        margin-top: $default-space-lg;
    }
    @include span-columns(4);
}

.quarter {
    @include media(max-width $phone-landscape) {
        @include span-columns(6);
        @include omega;
    }

    @include media(max-width 500px) {
        margin-top: $default-space-lg;
    }
    @include span-columns(3);
    @include omega(4n);
}

.clearfix {
    @include clearfix;
}
