%link {
    font-family: $secondary-font;
    color: $primary-font-color;
    text-decoration: none;

}

@mixin link() {
    @extend %link;
    color: $primary-font-color;
    &:active,
    &:focus,
    &:hover  {
        color: $primary-font-color;
        outline: none;
    }
}

%button {
  border: none;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;

}

@mixin button() {
    @extend %button;
    color: $secondary-font-color;
    font-size: 2em;
    &:hover {
        border-color: transparent;
        box-shadow: none;
    }
}
