/* fonts */
$primary-font: 'Arbutus Slab', serif !default;
$secondary-font: 'Verdana', sans-serif !default;

/* typography */
$h1-font-size: 4em !default;
$h2-font-size: 2.5em !default;
$h3-font-size: 2.25em !default;
$h4-font-size: 2em !default;
$h5-font-size: 1.75em !default;
$h6-font-size: 1.5em !default;
$default-paragraph-size: 1.25em !default;
$default-font-size: 1em !default;

/* colors */
$primary: rgba(143,15,39,1) !default;
$default-white: rgba(255, 255, 255, 1) !default;
$default-black: rgba(0, 0, 0, 1) !default;
$default-darkgray: rgba(36, 36, 36,1) !default;
$default-mediumgray: lighten($default-darkgray, 10) !default;
$default-lightgray: lighten($default-darkgray, 70) !default;
$selection-color: rgba(96, 153, 62, 1) !default;
$default-highlight-color: lighten($selection-color, 10%)!default;

/* font colors */
$primary-font-color: $default-black !default;
$secondary-font-color: $default-white !default;
$tertiary-font-color: $primary !default;

/* background colors */
$default-background-color: $default-white !default;

/* border */
$default-border-radius: 50% !default;

/* spacing */
$default-space-sm: 5px !default;
$default-space-md: 10px !default;
$default-space-lg: 15px !default;
$default-space-xl: 20px !default;
$default-space-xxl: 30px !default;
$extra-space: 70px !default;

/* z-indexes*/
$overlay-zindex: 4;
$navigation-zindex: 3;
$top-zindex: 2;
$medium-zindex: 1;
$bottom-zindex: -1;

/* responsive dimensions */
$tablet-portrait: 768px !default;
$tablet-landscape: 1024px !default;
$phone-portrait: 375px !default;
$phone-landscape: 600px !default
$tablet-portrait: 770px !default;
$animations-max-width: 1200px !default;
$default-max-width: 1280px !default;
