/*
 Author:         Oktawia Kata
 Author URI:     http://oktawiakata.com
 Version:        1.0
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* fonts */
/* typography */
/* colors */
/* font colors */
/* background colors */
/* border */
/* spacing */
/* z-indexes*/
/* responsive dimensions */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul,
ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }

select {
  border: 1px solid #ccc; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue; }

a:visited {
  color: purple; }

a:hover,
a:focus,
a:active {
  color: midnightblue; }

a:focus {
  outline: none; }

a:hover,
a:active {
  outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0; }

.main-navigation li {
  float: left;
  position: relative; }

.main-navigation a {
  display: block;
  text-decoration: none; }

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999; }

.main-navigation ul ul ul {
  left: -999em;
  top: 0; }

.main-navigation ul ul a {
  width: 200px; }

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto; }

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }
  .main-navigation ul {
    display: block; } }

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets. */
.widget select {
  max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  box-sizing: border-box; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  @media screen and (max-width: 768px) {
    .half {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .half:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 500px) {
    .half {
      margin-top: 15px; } }
  .half:last-child {
    margin-right: 0; }

.wide {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  @media screen and (max-width: 768px) {
    .wide {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .wide:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 500px) {
    .wide {
      margin-top: 15px; } }
  .wide:last-child {
    margin-right: 0; }

.narrow {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  @media screen and (max-width: 600px) {
    .narrow {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .narrow:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 500px) {
    .narrow {
      margin-top: 15px; } }
  .narrow:last-child {
    margin-right: 0; }

.quarter {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  @media screen and (max-width: 600px) {
    .quarter {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-right: 0; }
      .quarter:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 500px) {
    .quarter {
      margin-top: 15px; } }
  .quarter:last-child {
    margin-right: 0; }
  .quarter:nth-child(4n) {
    margin-right: 0; }
  .quarter:nth-child(4n+1) {
    clear: left; }

.clearfix::after {
  clear: both;
  content: "";
  display: block; }

.navigation ul a, footer ul li a {
  font-family: "Verdana", sans-serif;
  color: black;
  text-decoration: none; }

div.search-field input.search-button, footer ul input.newsletter-submit, div.bestsellers-section figure.narrow input, div.about-section input, .prodotto-page input.button, .il-mio-carrello-page input.button, .identificazione-page .half input.button, .identificazione-page .full input.button, .pagamento-page .half input.button, .conferma-page .half input.button, input.go-back {
  border: none;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0; }

header {
  z-index: 3;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: right; }
  header .container {
    padding: 0 30px;
    z-index: 3; }

.logo-image {
  height: 120px;
  position: relative;
  float: left;
  top: -37px; }

.navigation {
  background-color: black; }
  .navigation ul {
    margin-bottom: 0;
    padding: 10px 0;
    list-style: none; }
    .navigation ul li {
      display: inline-block;
      padding-left: 30px;
      color: white; }
    .navigation ul a {
      color: black;
      color: white; }
      .navigation ul a:active, .navigation ul a:focus, .navigation ul a:hover {
        color: black;
        outline: none; }
      .navigation ul a:active, .navigation ul a:focus, .navigation ul a:hover {
        color: white;
        outline: none; }

div.search-field {
  display: inline-block;
  padding-left: 10px; }
  div.search-field input {
    border-radius: 0; }
  div.search-field input.text-field {
    -webkit-transform: translate3D(0, -2px, 0);
    -moz-transform: translate3D(0, -2px, 0);
    -ms-transform: translate3D(0, -2px, 0);
    -o-transform: translate3D(0, -2px, 0);
    transform: translate3D(0, -2px, 0); }
  div.search-field input.search-button {
    color: white;
    font-size: 2em;
    color: white;
    font-size: 2em;
    padding: 0 5px; }
    div.search-field input.search-button:hover {
      border-color: transparent;
      box-shadow: none; }

.shopping-bar {
  background-color: rgba(255, 255, 255, 0.6); }
  .shopping-bar .container ul {
    padding: 10px 0;
    margin: 0;
    list-style: none; }
    .shopping-bar .container ul li {
      display: inline-block;
      padding-left: 30px; }
    .shopping-bar .container ul img {
      display: inline;
      height: 20px;
      margin: 0 5px; }
    .shopping-bar .container ul p {
      margin: 0;
      display: inline-block; }

footer {
  background-color: black;
  color: white; }
  footer ul {
    list-style: none;
    margin-bottom: 0; }
    footer ul li ul {
      padding-left: 5px; }
    footer ul li a {
      color: black;
      color: white; }
      footer ul li a:active, footer ul li a:focus, footer ul li a:hover {
        color: black;
        outline: none; }
      footer ul li a:active, footer ul li a:focus, footer ul li a:hover, footer ul li a:visited {
        color: white; }
    footer ul ul.payment-methods {
      margin-left: 0;
      padding-left: 0; }
      footer ul ul.payment-methods li {
        display: inline-block; }
    footer ul img.payment-method {
      margin: 5px 0;
      height: 30px; }
    footer ul input.newsletter-input {
      padding: 5px;
      border-radius: 0; }
    footer ul input.newsletter-submit {
      color: white;
      font-size: 2em;
      font-size: 1em;
      margin: 0;
      padding: 10px;
      background-color: #8f0f27;
      border: transparent;
      -webkit-transform: translate3d(-5px, 0, 0);
      -moz-transform: translate3d(-5px, 0, 0);
      -ms-transform: translate3d(-5px, 0, 0);
      -o-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0); }
      footer ul input.newsletter-submit:hover {
        border-color: transparent;
        box-shadow: none; }

div.home-section {
  height: 100vh;
  background-image: url("index/section-home/images/homepage-image.png");
  background-size: cover;
  background-position: left; }

div.statistics-section h2 {
  font-size: 2.5em;
  font-family: "Arbutus Slab", serif; }

div.statistics-section p {
  text-align: center;
  margin: 30px; }
  div.statistics-section p:nth-of-type(1) {
    color: #8f0f27;
    font-size: 4em;
    font-family: "Arbutus Slab", serif; }
  div.statistics-section p:nth-of-type(2) {
    font-size: 1.5em; }

div.bestsellers-section h2 {
  font-size: 2.5em;
  font-family: "Arbutus Slab", serif;
  margin-top: 30px; }
  div.bestsellers-section h2 span {
    font-size: 0.5em; }

div.bestsellers-section figure.narrow {
  position: relative;
  text-align: center;
  margin: 5px 5px; }
  div.bestsellers-section figure.narrow img.bestsellers-image {
    max-height: 500px;
    margin: 0 70px 30px 70px; }
  div.bestsellers-section figure.narrow input {
    width: 130px;
    color: white;
    font-size: 2em;
    font-size: 1em;
    margin: 5px;
    padding: 10px 0; }
    div.bestsellers-section figure.narrow input:hover {
      border-color: transparent;
      box-shadow: none; }
    div.bestsellers-section figure.narrow input:nth-of-type(1) {
      color: #8f0f27;
      border: 1px solid #8f0f27; }
    div.bestsellers-section figure.narrow input:nth-of-type(2) {
      color: white;
      background-color: #8f0f27;
      border: 1px solid #8f0f27; }
  div.bestsellers-section figure.narrow figcaption {
    opacity: 0;
    position: absolute;
    top: 40%;
    width: 100%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transform: translate3d(-30px, 0, 0);
    -moz-transform: translate3d(-30px, 0, 0);
    -ms-transform: translate3d(-30px, 0, 0);
    -o-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    -moz-transition: opacity 0.35s, -moz-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s; }
    div.bestsellers-section figure.narrow figcaption:hover {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      -moz-transition: opacity 0.35s, -moz-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s; }
    div.bestsellers-section figure.narrow figcaption h3, div.bestsellers-section figure.narrow figcaption h4 {
      position: relative;
      margin: 15px 0;
      top: 25%;
      font-weight: normal;
      font-family: "Arbutus Slab", serif; }
    div.bestsellers-section figure.narrow figcaption h3 {
      line-height: 100%;
      font-size: 2.25em; }
    div.bestsellers-section figure.narrow figcaption h4 {
      font-size: 2em; }

div.about-section .fullwidth-image {
  height: 70vh;
  background-image: url("index/section-about/images/about-image.jpg");
  background-size: cover;
  background-position: center; }

div.about-section .narrow {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center; }

div.about-section .about-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto; }
  div.about-section .about-image img {
    min-width: 100%;
    max-width: none;
    height: 250px; }

div.about-section h2 {
  margin: 30px 0;
  font-size: 2.5em;
  font-family: "Arbutus Slab", serif; }

div.about-section h3 {
  font-size: 1.75em;
  font-weight: normal;
  font-family: "Arbutus Slab", serif;
  margin: 20px 0; }

div.about-section input {
  width: 130px;
  color: white;
  font-size: 2em;
  font-size: 1em;
  margin: 5px;
  padding: 10px 0;
  color: white;
  background-color: #8f0f27;
  border: 1px solid #8f0f27; }
  div.about-section input:hover {
    border-color: transparent;
    box-shadow: none; }

.prodotto-page .main.container {
  padding-top: 140px;
  padding-bottom: 0; }

.prodotto-page .product-sheet.container {
  padding: 30px 0; }

.prodotto-page .wide {
  margin-right: 0; }
  .prodotto-page .wide h1, .prodotto-page .wide h2 {
    margin: 0;
    font-family: "Arbutus Slab", serif; }
  .prodotto-page .wide h1 {
    font-size: 2.5em; }
  .prodotto-page .wide h2 {
    font-size: 2.5em; }

.prodotto-page .narrow {
  text-align: center; }

.prodotto-page .wide, .prodotto-page .narrow {
  padding-bottom: 30px; }

.prodotto-page .fullwidth-image {
  height: 50vh;
  background-image: url("/vini/product-sheet/images/product-page-image.png");
  background-size: cover;
  background-position: bottom; }

.prodotto-page input.go-back {
  text-align: left;
  padding: 15px 0; }

.prodotto-page input.button {
  color: white;
  font-size: 2em;
  font-size: 1em;
  margin: 20px 0;
  padding: 10px;
  background-color: #8f0f27;
  border: 1px solid #8f0f27; }
  .prodotto-page input.button:hover {
    border-color: transparent;
    box-shadow: none; }

.prodotto-page p.availability {
  margin: 0 0 20px; }

.prodotto-page img.product-image {
  max-height: 600px; }

.prodotto-page .tabs-container {
  width: 100%; }

.prodotto-page ul.tabs {
  margin: 0;
  padding: 0;
  list-style: none; }
  .prodotto-page ul.tabs li {
    background: none;
    color: black;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer; }
    .prodotto-page ul.tabs li.current {
      background: #d7d7d7;
      color: black; }

.prodotto-page .tab-content {
  display: none;
  background: #d7d7d7;
  padding: 15px; }
  .prodotto-page .tab-content.current {
    display: inherit; }

.prodotto-page table {
  margin-bottom: 0;
  text-align: left;
  font-size: 0.85em;
  table-layout: fixed; }
  .prodotto-page table th {
    width: 100%;
    font-weight: normal; }
    .prodotto-page table th:nth-of-type(2n) {
      padding-left: 30px; }
    .prodotto-page table th div {
      display: flex;
      align-items: center; }
  .prodotto-page table img.product-sheet-icon {
    max-width: 40px;
    margin: 5px;
    display: inline-block;
    float: left; }

.il-mio-carrello-page {
  padding-top: 140px; }
  .il-mio-carrello-page p {
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    background-color: #d7d7d7; }
  .il-mio-carrello-page input.go-back {
    text-align: left;
    padding-left: 0; }
  .il-mio-carrello-page table .total-costs {
    text-align: right; }
  .il-mio-carrello-page table th {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #3e3e3e;
    border-top: 1px solid #3e3e3e; }
  .il-mio-carrello-page table td {
    vertical-align: middle;
    padding: 5px;
    border-bottom: 1px solid #3e3e3e; }
  .il-mio-carrello-page table img {
    max-height: 200px;
    margin: 0 10px; }
  .il-mio-carrello-page table img.remove-item {
    display: inline-block;
    max-height: 30px;
    margin: 10px 0; }
  .il-mio-carrello-page table.order-costs {
    max-width: 30%;
    float: right;
    margin: 0;
    background-color: #d7d7d7; }
    .il-mio-carrello-page table.order-costs td {
      border: none; }
  .il-mio-carrello-page input.button {
    color: white;
    font-size: 2em;
    display: block;
    font-size: 1em;
    margin: 0;
    padding: 10px;
    background-color: #8f0f27;
    border: 1px solid #8f0f27;
    float: right; }
    .il-mio-carrello-page input.button:hover {
      border-color: transparent;
      box-shadow: none; }

.identificazione-page {
  padding-top: 140px; }
  .identificazione-page p {
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    background-color: #d7d7d7; }
  .identificazione-page input.go-back {
    text-align: left;
    padding-left: 0; }
  .identificazione-page .half, .identificazione-page .full {
    border: 1px solid #d7d7d7; }
    .identificazione-page .half .container, .identificazione-page .full .container {
      padding: 10px; }
    .identificazione-page .half h2, .identificazione-page .full h2 {
      margin: 0;
      padding: 10px;
      background-color: #d7d7d7; }
    .identificazione-page .half p, .identificazione-page .full p {
      margin: 0;
      background-color: transparent;
      text-align: left; }
    .identificazione-page .half input.button, .identificazione-page .full input.button {
      display: inline-block;
      color: white;
      font-size: 2em;
      font-size: 1em;
      margin: 0 10px;
      padding: 10px;
      background-color: #8f0f27;
      border: 1px solid #8f0f27; }
      .identificazione-page .half input.button:hover, .identificazione-page .full input.button:hover {
        border-color: transparent;
        box-shadow: none; }
  .identificazione-page .half.last {
    margin-right: 0; }
  .identificazione-page .full {
    text-align: center; }

.pagamento-page {
  padding-top: 140px; }
  .pagamento-page p {
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    background-color: #d7d7d7; }
  .pagamento-page input.go-back {
    text-align: left;
    padding-left: 0; }
  .pagamento-page .half {
    border: 1px solid #d7d7d7; }
    .pagamento-page .half .container {
      padding: 10px; }
    .pagamento-page .half h2 {
      margin: 0;
      padding: 10px;
      background-color: #d7d7d7; }
    .pagamento-page .half p {
      margin: 0;
      background-color: transparent;
      text-align: left; }
    .pagamento-page .half label {
      display: inline-block;
      width: 40%; }
    .pagamento-page .half input[type=text] {
      width: 60%;
      margin: 5px 0; }
    .pagamento-page .half img {
      max-height: 50px; }
    .pagamento-page .half input.button {
      display: inline-block;
      color: white;
      font-size: 2em;
      font-size: 1em;
      margin: 10px 0;
      padding: 10px;
      background-color: #8f0f27;
      border: 1px solid #8f0f27;
      float: right; }
      .pagamento-page .half input.button:hover {
        border-color: transparent;
        box-shadow: none; }
  .pagamento-page table {
    margin-bottom: 10px; }
    .pagamento-page table th {
      text-align: left;
      padding: 10px 0; }
    .pagamento-page table td {
      padding: 5px 0; }
    .pagamento-page table .total-cost {
      border-top: 1px solid #d7d7d7; }
  .pagamento-page .half.last {
    margin-right: 0; }

.conferma-page {
  padding-top: 140px; }
  .conferma-page p {
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    background-color: #d7d7d7; }
  .conferma-page input.go-back {
    text-align: left;
    padding-left: 0; }
  .conferma-page .half {
    border: 1px solid #d7d7d7; }
    .conferma-page .half .container {
      padding: 10px; }
    .conferma-page .half h2 {
      margin: 0;
      padding: 10px;
      background-color: #d7d7d7; }
    .conferma-page .half p {
      margin: 0;
      background-color: transparent;
      text-align: left; }
    .conferma-page .half label {
      display: inline-block;
      width: 40%; }
    .conferma-page .half input[type=text] {
      width: 60%;
      margin: 5px 0; }
    .conferma-page .half img {
      max-height: 50px; }
    .conferma-page .half input.button {
      display: inline-block;
      color: white;
      font-size: 2em;
      font-size: 1em;
      margin: 10px 0;
      padding: 10px;
      background-color: #8f0f27;
      border: 1px solid #8f0f27; }
      .conferma-page .half input.button:hover {
        border-color: transparent;
        box-shadow: none; }
  .conferma-page table {
    margin-bottom: 10px; }
    .conferma-page table th {
      text-align: left;
      padding: 10px 0; }
    .conferma-page table td {
      padding: 5px 0; }
    .conferma-page table .total-cost {
      border-top: 1px solid #d7d7d7; }
  .conferma-page .half.last {
    margin-right: 0; }

body {
  font-family: "Verdana", sans-serif;
  font-size: 1em;
  color: black; }
  body ::selection {
    background: #78b951; }

.fullwidth-image {
  width: 100%;
  height: auto; }

input.go-back {
  color: white;
  font-size: 2em;
  display: inline-block;
  position: relative;
  width: 100%;
  color: black;
  font-size: 1.25em;
  z-index: 4; }
  input.go-back:hover {
    border-color: transparent;
    box-shadow: none; }

input.quantity {
  display: block;
  margin-top: 15px;
  padding-left: 10px;
  border: 1px solid #3e3e3e; }
