.shopping-bar {
  background-color: transparentize($default-white, .4);
  .container {
    ul {
      padding: $default-space-md 0;
      margin: 0;
      list-style: none;
      li {
        display: inline-block;
        padding-left: $default-space-xxl;
      }
      img {
        display: inline;
        height: 20px;
        margin: 0 $default-space-sm;
      }
      p {
        margin: 0;
        display: inline-block;
      }
    }
  }
}
