.prodotto-page {
  .main.container {
    padding-top: 140px;
    padding-bottom: 0;
  }
  .product-sheet.container {
    padding: $default-space-xxl 0;
  }
  .wide {
    margin-right: 0;
    h1, h2 {
      margin: 0;
      font-family: $primary-font;
    }
    h1 {
      font-size: $h2-font-size;
    }
    h2 {
      font-size: $h2-font-size;
    }
  }
  .narrow {
    text-align: center;
  }
  .wide, .narrow {
    padding-bottom: $default-space-xxl;
  }
  .fullwidth-image {
    height: 50vh;
    background-image: url("/vini/product-sheet/images/product-page-image.png");
    background-size: cover;
    background-position: bottom;
  }
  input.go-back {
    text-align: left;
    padding: $default-space-lg 0;
  }
  input.button {
    @include button;
    font-size: 1em;
    margin: $default-space-xl 0;
    padding: $default-space-md;
    background-color: $primary;
    border: 1px solid $primary;
  }
  p.availability {
    margin: 0 0 $default-space-xl;
  }
  img.product-image {
    max-height: 600px;
  }
  .tabs-container {
    width: 100%;
  }

  ul.tabs{
			margin: 0;
			padding: 0;
			list-style: none;
      li {
  			background: none;
  			color: $default-black;
  			display: inline-block;
  			padding: $default-space-md $default-space-lg;
  			cursor: pointer;
        &.current {
    			background: $default-lightgray;
    			color: $default-black;
    		}
  		}
	}
	.tab-content{
		display: none;
		background: $default-lightgray;
		padding: $default-space-lg;
    &.current{
  		display: inherit;
  	}
	}

  table {
    margin-bottom: 0;
    text-align: left;
    font-size: $default-font-size*.85;
    table-layout: fixed;
    th {
      width: 100%;
      font-weight: normal;
      &:nth-of-type(2n) {
        padding-left: $default-space-xxl;
      }
      div {
        display: flex;
        align-items: center;
      }
    }
    img.product-sheet-icon {
      max-width: 40px;
      margin: $default-space-sm;
      display: inline-block;
      float: left;
    }
  }
}
