div.about-section {
  .fullwidth-image {
    height: 70vh;
    background-image: url("index/section-about/images/about-image.jpg");
    background-size: cover;
    background-position: center;
  }
  .narrow {
    margin-top: $default-space-xxl;
    margin-bottom: $default-space-xxl;
    text-align: center;
  }
  .about-image {
    width: 250px;
    height: 250px;
    border-radius: $default-border-radius;
    overflow:hidden;
  	text-align: center;
  	margin: 0 auto;
    img {
      min-width:100%;
		  max-width:none;
      height: 250px;
    }
  }
  h2 {
    margin: $default-space-xxl 0;
    font-size: $h2-font-size;
    font-family: $primary-font;
  }
  h3 {
    font-size: $h5-font-size;
    font-weight: normal;
    font-family: $primary-font;
    margin: $default-space-xl 0;
  }
  input {
    width: 130px;
    @include button;
    font-size: 1em;
    margin: $default-space-sm;
    padding: $default-space-md 0;
    color: $secondary-font-color;
    background-color: $primary;
    border: 1px solid $primary;
  }
}
