.il-mio-carrello-page {
  padding-top: 140px;

  p {
    margin: $default-space-sm 0;
    padding: $default-space-md 0;
    text-align: center;
    background-color: $default-lightgray;
  }
  input.go-back {
    text-align: left;
    padding-left: 0;
  }

  table {
    .total-costs {
      text-align: right;
    }
    th {
      text-align: left;
      padding: $default-space-md;
      border-bottom: 1px solid $default-mediumgray;
      border-top: 1px solid $default-mediumgray;
    }
    td {
      vertical-align: middle;
      padding: $default-space-sm;
      border-bottom: 1px solid $default-mediumgray;
    }
    img {
      max-height: 200px;
      margin: 0 $default-space-md;
    }
    img.remove-item {
      display: inline-block;
      max-height: 30px;
      margin: $default-space-md 0;
    }
  }
  table.order-costs {
    max-width: 30%;
    float: right;
    margin: 0;
    background-color: $default-lightgray;
    td {
      border: none;
    }
  }
  input.button {
    @include button;
    display: block;
    font-size: 1em;
    margin: 0;
    padding: $default-space-md;
    background-color: $primary;
    border: 1px solid $primary;
    float: right;
  }
}
