.conferma-page {
  padding-top: 140px;
  p {
    margin: $default-space-sm 0;
    padding: $default-space-md 0;
    text-align: center;
    background-color: $default-lightgray;
  }
  input.go-back {
    text-align: left;
    padding-left: 0;
  }
  .half {
    border: 1px solid $default-lightgray;
    .container {
      padding:  $default-space-md;
    }
    h2 {
      margin: 0;
      padding: $default-space-md;
      background-color: $default-lightgray;
    }
    p {
      margin: 0;
      background-color: transparent;
      text-align: left;
    }
    label {
      display: inline-block;
      width: 40%;
    }
    input {
      &[type=text] {
        width: 60%;
        margin: $default-space-sm 0;
      }
    }
    img {
      max-height: 50px;
    }
    input.button {
      display: inline-block;
      @include button;
      font-size: 1em;
      margin: $default-space-md 0;
      padding: $default-space-md;
      background-color: $primary;
      border: 1px solid $primary;
    }
  }
  table {
    margin-bottom: $default-space-md;
    th {
      text-align: left;
      padding: $default-space-md 0;
    }
    td {
      padding: $default-space-sm 0;
    }
    .total-cost {
      border-top: 1px solid $default-lightgray;
    }
  }
  .half.last {
    margin-right: 0;
  }
}
