div.bestsellers-section {
  h2 {
    font-size: $h2-font-size;
    font-family: $primary-font;
    margin-top: $default-space-xxl;
    span {
      font-size: 0.5em;
    }
  }
  figure.narrow {
    position: relative;
    text-align: center;
    margin: $default-space-sm $default-space-sm;
    img.bestsellers-image {
        max-height: 500px;
        margin: 0 $extra-space $default-space-xxl $extra-space;
    }
    input {
      width: 130px;
      @include button;
      font-size: 1em;
      margin: $default-space-sm;
      padding: $default-space-md 0;
      &:nth-of-type(1) {
        color: $tertiary-font-color;
        border: 1px solid $primary;
      }
      &:nth-of-type(2) {
        color: $secondary-font-color;
        background-color: $primary;
        border: 1px solid $primary;
      }
    }
    figcaption {
      opacity: 0;
      position: absolute;
      top: 40%;
      width: 100%;
      height: 40%;
      background-color: transparentize($default-white, .2);
      @include transform(translate3d(-30px,0,0));
      @include transition(opacity 0.35s, transform 0.35s);
      &:hover {
        opacity: 1;
        @include transform(translate3d(0,0,0));
        @include transition(opacity 0.35s, transform 0.35s);
      }
      h3, h4 {
        position: relative;
        margin: $default-space-lg 0;
        top:25%;
        font-weight: normal;
        font-family: $primary-font;
      }
      h3 {
        line-height: 100%;
        font-size: $h3-font-size;
      }
      h4 {
        font-size: $h4-font-size;
      }
    }
  }
}
