div.statistics-section {
  h2 {
    font-size: $h2-font-size;
    font-family: $primary-font;
  }
  p {
    text-align: center;
    margin: $default-space-xxl;
    &:nth-of-type(1) {
      color: $tertiary-font-color;
      font-size: $h1-font-size;
      font-family: $primary-font;
    }
    &:nth-of-type(2) {
      font-size: $h6-font-size;
    }
  }
}
