header {
  z-index: $navigation-zindex;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: right;
  .container {
    padding: 0 $default-space-xxl;
    z-index: $navigation-zindex;
  }
}

.logo-image {
  height: 120px;
  position: relative;
  float: left;
  top: -37px;
}

.navigation {
  background-color: $default-black;
  ul {
    margin-bottom: 0;
    padding: $default-space-md 0;
    list-style: none;
    li {
      display: inline-block;
      padding-left: $default-space-xxl;
      color: $secondary-font-color;
    }
    a {
      @include link;
      color: $secondary-font-color;
      &:active,
      &:focus,
      &:hover {
          color: $secondary-font-color;
          outline: none;
      }
    }
  }
}

div.search-field {
  display: inline-block;
  padding-left: $default-space-md;
  input {
    border-radius: 0;
  }
  input.text-field {
    @include transform(translate3D(0, -2px, 0));
  }
  input.search-button {
    @include button;
    color: $secondary-font-color;
    font-size: 2em;
    padding: 0 $default-space-sm;
  }
}
