.identificazione-page {
  padding-top: 140px;
  p {
    margin: $default-space-sm 0;
    padding: $default-space-md 0;
    text-align: center;
    background-color: $default-lightgray;
  }
  input.go-back {
    text-align: left;
    padding-left: 0;
  }
  .half, .full {
    border: 1px solid $default-lightgray;
    .container {
      padding:  $default-space-md;
    }
    h2 {
      margin: 0;
      padding: $default-space-md;
      background-color: $default-lightgray;
    }
    p {
      margin: 0;
      background-color: transparent;
      text-align: left;
    }

    input.button {
      display: inline-block;
      @include button;
      font-size: 1em;
      margin: 0 $default-space-md;
      padding: $default-space-md;
      background-color: $primary;
      border: 1px solid $primary;

    }
  }
  .half.last {
    margin-right: 0;
  }
  .full {
    text-align: center;
  }
}
