footer {
  background-color: $default-black;
  color: $secondary-font-color;
  ul {
    list-style: none;
    margin-bottom: 0;
    li {
      ul {
          padding-left: $default-space-sm;
      }
      a {
        @include link;
        color: $secondary-font-color;
        &:active,
        &:focus,
        &:hover,
        &:visited  {
            color: $secondary-font-color;
        }
      }
    }
    ul.payment-methods {
      margin-left: 0;
      padding-left: 0;
      li {
        display: inline-block;
      }
    }
    img.payment-method {
      margin: $default-space-sm 0;
      height: 30px;
    }
    input.newsletter-input {
      padding: $default-space-sm;
      border-radius: 0;
    }
    input.newsletter-submit {
      @include button;
      font-size: 1em;
      margin: 0;
      padding: $default-space-md;
      background-color: $primary;
      border: transparent;
      @include transform(translate3d(-5px, 0, 0));
    }
  }

}
